<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="//social_balloon-21.png">

    <title>Account Registration</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="/bootstrap-3.3.7/docs/examples/blog/blog.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/bootstrap-3.3.7/docs/examples/signin/signin.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     
 </head>

  <body>

  	<div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/">Home</a>
        </nav>
      </div>
    </div>

    <div class="container">

      <form class="form-signin" action="/log/in" method="post">
        <h2 class="form-signin-heading">Sign In To Your Account</h2>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name = "username" class="form-control" placeholder="username" required autofocus>
      	<label for="password" class="sr-only">Password (Case Sensitive)</label>
        <input type="text" id="password" name= "password" class="form-control" placeholder="password" required autofocus>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
      </form>
      <%= flash[:notice] if flash[:notice] %>
    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/bootstrap-3.3.7/docs/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/bootstrap-3.3.7/docs/dist/js/bootstrap.min.js"></script>
  </body>
</html>